replicaCount: 2
webhook:
  replicaCount: 2
cainjector:
  replicaCount: 2
# Anti-affinity rules for pod distribution
affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
    - labelSelector:
        matchLabels:
          app.kubernetes.io/name: cert-manager
          app.kubernetes.io/instance: cert-manager
          app.kubernetes.io/component: controller
      topologyKey: "kubernetes.io/hostname"
webhook:
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: webhook
            app.kubernetes.io/instance: cert-manager
            app.kubernetes.io/component: webhook
      topologyKey: "kubernetes.io/hostname"
cainjector:
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: cainjector
            app.kubernetes.io/instance: cert-manager
            app.kubernetes.io/component: cainjector
      topologyKey: "kubernetes.io/hostname"
# High availability settings
podDisruptionBudget:
  enabled: true
  minAvailable: 1
webhook:
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
cainjector:
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
